.panel {
    padding: 10px;
    background: #fff;
    border: 3px solid #3c64b4;
}

.panel label {
    display: block;
    margin-bottom: 10px;
}

.panel  button {
    background: cadetblue;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
}

#generator {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.point {
    position: absolute;
    display: block;
    /* box-shadow: 3px 3px 3px #fff; */
}